<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Condition.Name}} - {{.Manifest.Title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>{{.Manifest.Title}}</h1>
    {{.Manifest.Description | MarkdownToHTML }}
    <h2>{{.Condition.Name}} {{.Condition.Emoji}}</h2>
    {{.Condition.Description | MarkdownToHTML}}
    <h3>Expected Behaviours</h3>
    <ul>
        {{range .Condition.ExpectedBehaviours}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <h3>Friendship Support</h3>
    <ul>
        {{range .Condition.FriendshipSupport}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <a href="/">Back to index</a>
</body>
</html>