<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>{{.Title}}</h1>
    {{ .Description | MarkdownToHTML }}
    <h2>Known Signals</h2>
    <div>
      <table>
        {{range .Conditions}}
        <tr>
            <td>
                <span class="emoji-button" onclick="copyURL('https://kind.sbs/{{.Emoji}}')">📋</span>
                <a href="/{{.Emoji}}">kind.sbs/{{.Emoji}}</a>
            </td>
          <td>{{.Name}}</td>
        </tr>
        {{end}}
      </table>
    </div>
    <script>
      function copyURL(url) {
        navigator.clipboard.writeText(url)
          .catch(err => console.error(err));
      }
    </script>
</body>
</html>